################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/Kingdom-in-Ashes.slnx/FileContentIndex/1cb655b5-d453-433f-8b8a-ea4bff7bd3b0.vsidx
.DS_Store
kingdoms-in-ashes/Assets/Sprites/*.mov
